
<div class="border p-2">
    <div id="">
        <div class="my-2 p-2">
            <div class="w-100 m-auto">
                <div class="row">

                    <div class="col-md-2">
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="txtCompanyName" placeholder="Name">
                            <label for="floatingInput">Name:</label>
                        </div>
                    </div>

                    <div class="col-md-2">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="txtCityName" placeholder="ID">
                            <label for="floatingInput">City:</label>
                        </div>
                    </div>


                    <div class="col-md-2">
                        <button type="button" class="btn btn-danger wrn-btn" onclick="FillCustomerData();">Search</button>
                    </div>

                </div>


            </div>

        </div>



        <div class="table-responsive">
            <table class="table table-sm table-striped table-hover-warning table-bordered">
                <thead class="blue">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>City</th>
                        <th></th>

                    </tr>
                </thead>
                <tbody id="tblCustomerData"></tbody>
            </table>
        </div>
        <div id="dvPaging"></div>
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/pagination")
    @Scripts.Render("~/lib/customer/customers")
    @Styles.Render("~/bundles/paginationcss")
}
