
<div class="blue">
    <h5>Employee Joining</h5>
</div>

<div class="border p-2">
    <div id="dvClearanceList">
        <div class="p-3 border my-2">
            <div class="row">

                <div class="form-group col-md-3 row">
                    <label class="col-md-2 col-form-label p-0"> Employee:</label>
                    <div class="col">
                        <select class="js-example-basic-single js-states form-control" id="ddEmployeeCode" name="EmployeeCode" data-placeholder="Type to search" data-allow-clear="true"></select>
                    </div>
                </div>
                <div class="form-group col-md-2">
                    <button class="btn btn-sm btn-primary" onclick="NewClearance()">Add Clearance </button>
                </div>
            </div>
        </div>
        <table class="table table-sm table-striped table-hover-warning table-bordered table-responsive">
            <thead class="blue"> 
                <tr>
                    <th>ID</th>
                    <th>EmployeeID</th>

                    <th>Contact</th>
                    <th>HandOver</th>
                    <th>Last Working Date</th>
                    <th>Clearance Date</th>
                    <th>Prepared By</th>
                    <th>Employee Name</th>
                    <th>Department Name</th>
                    <th>Position</th>
                    <th>Nationality</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="tblEmployeeClearanceList"></tbody>
        </table>
    </div>
    <div id="dvEditClearance">
        <form id="frmClearance">
            <div class="border p-2">
                <div class="row">
                    <!-- Employee Name -->
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="employeeName">Employee Name:</label>
                            <select class="form-select" id="employeeName" name="employeeName"></select>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="position">Position:</label>
                            <input type="text" class="form-control" id="position" name="position">
                        </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="division">Division:</label>
                                <input type="text" class="form-control" id="division" name="division">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="nationality">Nationality:</label>
                                <input type="text" class="form-control" id="nationality" name="nationality">
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="form-group">
                                <label for="date">Date:</label>
                                <input type="date" class="form-control" id="date" name="date">
                            </div>
                        </div>
                    </div>


                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="date1">Last Dept Date:</label>
                            <input type="text" class="form-control" id="date1" name="date1">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="date2">Joining Date:</label>
                            <input type="text" class="form-control" id="date2" name="date2">
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="date3">Next Dept Date:</label>
                            <input type="text" class="form-control" id="date3" name="date3">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="approval1">Approval From 1:</label>
                            <select class="form-select" id="approval1" name="approval1"></select>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="approval2">Approval From 2:</label>
                            <select class="form-select" id="approval2" name="approval2"></select>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="form-group">
                            <label for="approval3">Approval From 3:</label>
                            <select class="form-select" id="approval3" name="approval3"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group">
                            <label for="remarks">Remarks:</label>
                            <textarea class="form-control" id="remarks" name="remarks"></textarea>
                        </div>
                    </div>
                </div>
            </div>

            
        </form>
    </div>
</div>
@section Scripts{
    @Scripts.Render("~/lib/hr/employeeclearance")
}