
<div class="border p-2">
    
    <div class="border">
        <div class="blue p-1"><h6>Employee Short Leave</h6></div>
        <div class="p-2">
            <div class="row">
                <div class="col-6">
                    <form id="frmShortLeave">

                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label for="employeeName">Employee Name:</label>
                                    <select class="form-control" id="ddEmployeeName" name="ddEmployeeName"></select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="fromDate">Date:</label>
                                    <input type="text" class="form-control datepicker" id="txtRecordDate" name="RecordDate">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="txtRecordTime">Time:</label>
                                    <input type="time" class="form-control time" id="txtRecordTime" name="txtRecordTime">
                                </div>
                            </div>



                        </div>
                        <div class="mt-2">
                            
                                
                                <div class="form-group">
                                    <label for="remarks">Remarks:</label>
                                    <textarea class="form-control" id="txtremarks" name="txtremarks" rows="10"></textarea>
                                </div>
                            

                        </div>
                        <div class="my-3">
                            <label class="custom-file-upload btn btn-primary">
                                <input type="file" id="LeaveFileID" />
                                <i class="fa fa-cloud-upload"></i> Browse  Sheet
                            </label>
                            <button class="btn btn-primary ms-5" type="submit" onclick="SaveEmployeeLeave()">Save</button>
                            <button class="btn btn-danger" type="reset" onclick="CancelNewLeave()">Clear</button>


                        </div>

                    </form>
                </div>
                <div class="col-6">
                    <table class="table table-sm table-striped table-hover-warning table-bordered table-responsive">
                        <thead class="blue">
                            <tr>
                                <th>ID</th>
                                <th>EmployeeID</th>
                                <th>Leave Date&Time</th>
                                <th>Remarks</th>

                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="tblEmployeeShortLeaveList"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    @Scripts.Render("~/lib/hr/employeeshortleave")
}