
<div class="border p-2">
    <div id="dvShortLeaveList">
        <div class="p-3 border my-2">
            <div class="row">

                <div class="form-group col-md-3 row ms-1 mb-0">
                    <label class="col-md-2 col-form-label p-0"> Employee:</label>
                    <div class="col">
                        <select class="form-select" id="ddEmployeeCode" name="EmployeeCode" data-placeholder="Type to search" data-allow-clear="true"></select>
                    </div>
                </div>

                <div class="form-group col-md-3 row ms-1 mb-0">
                    <label class="col-md-3 col-form-label p-0"> Date Range:</label>
                    <div class="col position-relative">
                        <input type="text" name="ddlDataRange" id="ddlDataRange" class="form-control form-control-sm daterangepicker" autocomplete="off">
                    </div>
                </div>
                
                


                <div class="form-group col-md-2">
                    <button class="btn btn-sm btn-primary" onclick="BindShortLeaves()">Search </button>

                    <button class="btn btn-sm btn-success writecontainer" onclick="NewLeave()">Add Short Leave </button>
                </div>
            </div>
        </div>
        <table class="table table-sm table-striped table-hover-warning table-bordered table-responsive">
            <thead class="blue">
                <tr>
                    <th>ID</th>
                    <th>EmployeeID</th>
                    <th>Leave Date&Time</th>
                    <th>Remarks</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="tblEmployeeShortLeaveList"></tbody>  
        </table>
    </div>
    <div id="dvEditShortLeave">
        <form id="frmShortLeave">
            <div class="border">
                <div class="blue p-1"><h6>Employee Short Leave</h6></div>
                <div class="p-4">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="employeeName">Employee Name:</label>
                                <select class="form-control" id="ddEmployeeName" name="ddEmployeeName">
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="fromDate">Date:</label>
                                <input type="text" class="form-control datepicker" id="txtRecordDate" name="RecordDate">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="toDate">Time:</label>
                                <input type="time" class="form-control time" id="txtRecrordTime" name="txtRecrordTime">
                            </div>
                        </div>



                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="approval1">Approval 1:</label>
                                <select class="form-select supervisor" id="ddlapproval1" name="approval1">
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="approval1">Approval 2:</label>
                                <select class="form-select supervisor" id="ddlapproval2" name="approval2">
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="remarks">Remarks:</label>
                                <textarea class="form-control" id="txtremarks" name="txtremarks"></textarea>
                            </div>
                        </div>

                    </div>
                    <div class="my-3">
                        <label class="custom-file-upload btn btn-primary">
                            <input type="file" id="LeaveFileID" />
                            <i class="fa fa-cloud-upload"></i> Browse  Sheet
                        </label>
                        <button class="btn btn-primary ms-5" type="submit" onclick="SaveEmployeeLeave()">Save</button>
                        <button class="btn btn-danger" type="reset" onclick="CancelNewLeave()">Clear</button>


                    </div>
                    </div>





                </div>
        </form>
    </div>
</div>
@section Scripts{
    @Scripts.Render("~/lib/hr/employeeshortleaveHr")
}