
<div class="border p-2">
    <div id="dvInquiryList">
        <div class="p-3 border my-2">
            
            <div class="row">

                <div class="form-group col-md-3 row">
                    <label class="col-md-2 col-form-label p-0"> Employee:</label>
                    <div class="col">
                        <select class="form-select" id="ddEmployeeCode" name="EmployeeCode" data-placeholder="Type to search" data-allow-clear="true"></select>
                    </div>
                </div>

                <div class="form-group col-md-2 row">
                    <label class="col-md-auto col-form-label p-0"> Date Range:</label>
                    <div class="col position-relative">
                        <input type="text" name="ddlInquiryDataRange" id="ddlInquiryDataRange" class="form-control form-control-sm daterangepicker" autocomplete="off">
                    </div>
                </div>
                <div class="form-group col-md-auto">

                    <label class="col-md-auto col-form-label p-0"> Personal:</label>
                    <label class="switch"><input type="checkbox" id="ChkInquiryPersonalFilter"  class="form-check-inline"><span class="slider round"></span></label>
                </div>
                <div class="form-group col-md-auto">
                    <label class="col-md-auto col-form-label p-0"> General:</label>
                    <label class="switch"><input type="checkbox" id="ChkInquiryGeneralFilter" checked="" class="form-check-inline"><span class="slider round"></span></label>

                </div>
                <div class="form-group col-md-auto">
                    <label class="col-md-auto col-form-label p-0"> Loan:</label>
                    <label class="switch"><input type="checkbox" id="ChkInquiryLoanFilter" class="form-check-inline"><span class="slider round"></span></label>
                </div>
                <div class="form-group col-md-2">
                    <button class="btn btn-sm btn-primary" onclick="BindInquiryList()">Search </button>
                    <button class="btn btn-sm btn-success" onclick="NewInquiry()">Add Request </button>
                </div>
            </div>


                
            
        </div>
        <table class="table table-sm table-striped table-hover-warning table-bordered table-responsive">
            <thead class="blue">
                <tr>
                    <th>ID</th>
                    <th>Employee </th>

                    <th>Department Name</th>
                    <th>Position</th>
                    <th>Nationality</th>
                    <th>Request Date</th>
                    <th>Remarks</th>
                    <th>Prepared by</th>
                    <th>Personal</th>
                    <th>General</th>
                    <th>Loan</th>

                    <th></th>
                </tr>
            </thead>
            <tbody id="tblEmployeeInQuiryList"></tbody>
        </table>
        <div id="dvEmployeeInquiryPaging"></div>
    </div>
    <div id="dvEditInquiry" class="d-none writecontainer">
        <form id="frmInquiry">
            <div class=" container">
                <div class="border">
                    <div class="blue p-1"><h6>Employee Request</h6></div>
                    <div class="p-4">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="employeeName">Employee Name:</label>
                                    <select class="form-select" id="ddEmployeeName" name="EmployeeName"></select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="columnDate">Date:</label>
                                    <input type="text" class="form-control form-control-sm datepicker" id="txtInquiryDate" name="InquiryDate" required>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label for="columnDate">Prepared by:</label>
                                    <input type="text" class="form-control form-control-sm" id="txtInquiryPreparedBy" name="PreparedBy" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="ddSupervisorApproval1">Approval 1:</label>
                                    <select class="form-select supervisor" id="ddSupervisorApproval1" name="SupervisorApproval1"></select>
                                </div><div class="form-group">
                                    <label for="ddSupervisorApproval2">Approval 2:</label>
                                    <select class="form-select supervisor" id="ddSupervisorApproval2" name="SupervisorApproval2"></select>
                                </div><div class="form-group">
                                    <label for="ddSupervisorApproval3">Approval 3:</label>
                                    <select class="form-select supervisor" id="ddSupervisorApproval3" name="SupervisorApproval3"></select>
                                </div><div class="form-group">
                                    <label for="ddSupervisorApproval4">Approval 4:</label>
                                    <select class="form-select supervisor" id="ddSupervisorApproval4" name="SupervisorApproval4"></select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="remarks">Remarks:</label>
                                    <textarea class="form-control form-control-sm" rows="10" id="txtInquiryRemarks" name="InquiryRemarks"></textarea>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="chkInquiryPersonal" name="InquiryPersonal">
                                    <label class="form-check-label" for="chkInquiryPersonal">Personal</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="chkInquiryGeneral" name="InquiryGeneral">
                                    <label class="form-check-label" for="chkInquiryGeneral">General</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="checkbox" id="chkInquiryLoan" name="InquiryLoan">
                                    <label class="form-check-label" for="chkInquiryLoan">Loan</label>
                                </div>
                            </div>
                        </div>
                        <div class="my-2">
                            
                        </div>

                        <div class="my-3">
                            
                            <label class="custom-file-upload btn btn-primary">
                                <input type="file" id="InquiryFile" />
                                <i class="fa fa-cloud-upload"></i> Upload Scanned Sheet
                            </label>
                            <button class="btn btn-primary ms-5" type="submit" onclick="SaveEmployeeInquiry()">Save</button>
                            <button class="btn btn-danger" type="button" onclick="ResetNav()">Cancel</button>
                            <button class="btn btn-danger" type="reset">Clear</button>



                        </div>
                    </div>

                </div>



            </div>
        </form>
    </div>
</div>
@section Scripts{
    @Scripts.Render("~/bundles/pagination")
    @Scripts.Render("~/lib/hr/employeeinquiryhr")
    @Styles.Render("~/bundles/paginationcss")
}