<div class="blue">
    <h5>Employee Inquiry</h5>
</div>


<div class="border p-2">
    <div id="dvClearanceList">
        <div class="p-3 border my-2">
            <div class="row">

                <div class="form-group col-md-3 row">
                    <label class="col-md-2 col-form-label p-0"> Employee:</label>
                    <div class="col">
                        <select class="js-example-basic-single js-states form-control" id="ddEmployeeCode" name="EmployeeCode" data-placeholder="Type to search" data-allow-clear="true"></select>
                    </div>
                </div>
                <div class="form-group col-md-2">
                    <button class="btn btn-sm btn-primary" onclick="NewClearance()">Add Clearance </button>
                </div>
            </div>
        </div>
        <table class="table table-sm table-striped table-hover-warning table-bordered table-responsive">
            <thead class="blue">
                <tr>
                    <th>ID</th>
                    <th>EmployeeID</th>

                    <th>Contact</th>
                    <th>HandOver</th>
                    <th>Last Working Date</th>
                    <th>Clearance Date</th>
                    <th>Prepared By</th>
                    <th>Employee Name</th>
                    <th>Department Name</th>
                    <th>Position</th>
                    <th>Nationality</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="tblEmployeeClearanceList"></tbody>
        </table>
    </div>
    <div id="dvEditClearance">
        <form id="frmClearance">
            <div class="border">
                <div class="blue p-1"><h6>Employee Inquiry</h6></div>
                <div class="p-4">
                    <div class="row">
                        <div class="col-md-4">
                            <!-- Employee Name Dropdown -->
                            <div class="form-group">
                                <label for="employeeName">Employee Name:</label>
                                <select class="form-select" id="employeeName" name="employeeName"></select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="columnDate">Date:</label>
                                <input type="text" class="form-control" id="columnDate" name="columnDate">
                            </div>
                        </div>
                        
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <!-- Approval From Dropdowns -->
                            <div class="form-group">
                                <label for="approval1">Approval 1:</label>
                                <select class="form-select" id="approval1" name="approval1">
                                    <!-- Options for Approval 1 dropdown -->
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="remarks">Remarks:</label>
                                <textarea class="form-control" id="remarks" name="remarks"></textarea>
                            </div>
                        </div>
                        
                    </div>

                    <div class="my-3">

                        <button class="btn btn-primary ms-5" type="submit" onclick="SaveEmployeeClearance()">Save</button>
                        <button class="btn btn-danger" type="reset" onclick="CancelNewClearance()">Clear</button>


                    </div>
                </div>





            </div>
        </form>
    </div>
</div>
@section Scripts{
    @Scripts.Render("~/lib/hr/employeeclearance")
}