<div class="border p-2">

    <div class="row">

        <div class="col-md-4">

            <form id="frmEmployeeFamily">
                <div class="mb-3 row">
                    <label for="ddEmployeeFamilyCode" class="col-sm-2 col-form-label">Employee </label>
                    <div class="col">
                        <select class="js-example-basic-single js-states form-control" id="ddEmployeeFamilyCode" name="EmployeeCode" data-placeholder="Type to search" data-allow-clear="true"></select>
                    </div>
                </div>

                <div class="mb-3 row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="txtFamilyName" class="col-form-label">Name:</label>
                            <input type="text" class="form-control form-control-sm" id="txtFamilyName" name="FamilyName" required="" data-msg="Enter family member name">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="txtFamilyDateOfBirth" class=" col-form-label">Date of Birth</label>
                            <input type="text" class="form-control form-control-sm datepicker" id="txtFamilyDateOfBirth" name="FamilyDateOfBirth" required data-msg="Please enter date of birth.">
                        </div>
                    </div>
                </div>


                <div class="mb-3 row">
                    <div class="col-sm-6">
                        <label for="txtFamilyRelationship" class=" col-form-label">Relation</label>
                        <input type="text" class="form-control form-control-sm" id="txtFamilyRelationship" name="FamilyRelationship" list="datalist" required data-msg="Please enter relationship.">
                        <datalist id="datalist">
                            <select id="datalistOptions" class="form-select"></select>
                        </datalist>
                    </div>
                    <div class="col-sm-6">
                        <label for="txtpassportnumber" class="col-form-label">Passport Number</label>

                        <input type="text" class="form-control form-control-sm" id="txtFamilyPassportNumber" name="FamilyPassportNumber" required data-msg="Please enter passport number.">
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="col-sm-6">
                        <label for="txtFamilyIqamaNumber" class=" col-form-label">Iqama Number</label>

                        <input type="text" class="form-control form-control-sm" id="txtFamilyIqamaNumber" name="FamilyIqamaNumber" required data-msg="Please enter iqama number.">
                    </div>
                    <div class="col-sm-6">
                        <label for="txtIssueDate" class="col-form-label">Issue Date</label>

                        <input type="text" class="form-control form-control-sm datepicker" id="txtFamilyPassportIssueDate" name="FamilyPassportIssueDate" required data-msg="please enter passport issue date.">
                    </div>

                </div>

                <div class="mb-3 row">
                    <div class="col-sm-6">
                        <label for="txtFamilyLocalPhoneNumber" class=" col-form-label">Saudia Phone Number</label>

                        <input type="text" class="form-control form-control-sm" id="txtFamilyLocalPhoneNumber" required data-msg="please enter saudia phone number.">
                    </div>
                    <div class="col-sm-6">
                        <label for="txtFamilyPassportExpiryDate" class=" col-form-label">Expiry Date</label>

                        <input type="text" class="form-control form-control-sm datepicker" id="txtFamilyPassportExpiryDate" name="FamilyPassportExpiryDate" required data-msg="please enter passport expiry date.">
                    </div>
                </div>

                <div class="mb-3 row">
                    <div class="col-sm-6">
                        <label for="txtFamilyHomePhoneNumber" class=" col-form-label">Home Country Phone Number</label>

                        <input type="text" class="form-control form-control-sm" id="txtFamilyHomePhoneNumber" required data-msg="please enter home country phone number.">
                    </div>
                </div>

                <div class="mb-3">

                    <label class="custom-file-upload btn btn-primary">
                        <input type="file" id="txtFamilyPassport" />
                        <i class="fa fa-cloud-upload"></i> Upload Passport File
                    </label>
                    <button class="btn btn-primary ms-5" type="button" onclick="return SaveFamily()">Save</button>
                    <button class="btn btn-danger" type="reset">Clear</button>


                </div>
            </form>
            <div class="border-top">
                <img id="imgEmployeeFamily" />
            </div>
        </div>
        <div class="col-md-8 border-start">
            <div class="table-responsive">
                <table class="table table-sm table-striped table-hover-warning table-bordered">
                    <thead class="blue">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>DOB</th>
                            <th>Relation</th>
                            <th>Passport number</th>
                            <th>Iqama number</th>
                            <th>Passport Issue Date</th>
                            <th>Passport Exp Date</th>
                            <th>Phone Home number</th>
                            <th>Phone Saudia number</th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody id="tblEmployeeFamily"></tbody>
                </table>
            </div>
        </div>
    </div>


    


</div>


@section Scripts{
    @Scripts.Render("~/lib/hr/employeefamily")

}