
<div class="border p-2">
    <div class="my-3">

        <div class="row">
            <div class="col-auto">Search Employees:</div>
            <div class="col-md-3">
                <div class="form-floating mb-3">
                    <select class="form-select form-select d-sm-block" id="ddEmployees"></select>

                </div>
            </div>


            <div class="col-md-2">
                <button type="button" class="btn btn-danger wrn-btn" onclick="SearchEmployeeAccomodation();">Search</button>

            </div>

        </div>

    </div>
    <nav id="dvBuildingPlan">
        <div class="nav nav-tabs" id="nav-buildings" role="tablist">
            <button class="nav-link btn btn-sm blue" id="nav-add-building" data-bs-toggle="tab" data-bs-target="#nav-new-building" type="button" role="tab" aria-controls="nav-new-building"><span class="text-white me-2"><i class="fa  fa-plus-circle me-2"></i>Add New Building </span></button>
        </div>
        <div class="tab-content border m2 p-3" id="nav-buildingsContent">
            <div class="tab-pane fade " id="nav-new-building" role="tabpanel" aria-labelledby="nav-new-building">

                <div class="container w-50">
                    <div class="blue"><b>Add New Building</b></div>
                    <div class="border p-2">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-roup">
                                    <label class="col-form-label" for="txtbuildingName">Name:</label>
                                    <input class="form-control form-control-sm" id="txtbuildingName" name="txtbuildingName">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-goup">
                                    <label class="col-form-label" for="BuildingFloor">Number of Floor</label>
                                    <input type="number" min="1" max="20" class="form-control form-control-sm" id="txtBuildingFloor" name="BuildingFloor">
                                </div>
                            </div>
                            <div class="col-md-2 align-self-end">
                                <button class="btn btn-sm btn-primary" onclick="CreateNewBuilding()">Create</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div id="dvAppartmentPlan" class="d-none">

        <div class="blue" id="dvAppartmentLabel">Build Name , Floor ,Appartment Number</div>
        <div class="border">
            <table class="table table-sm w-100">
                <tbody>
                    <tr>
                        <td width="5%"></td>
                        <td width="130px" valign="middle" class="font-weight-bold"><strong>Number of Rooms:</strong></td>
                        <td width="8%"><input type="number" class="form-control" id="txtNoOfBeds2" onblur="CreateAppartmentRoomPlan(this)" /></td>
                        <td></td>
                    </tr>
                    <tr><td id="trRooms" colspan="4"></td></tr>
                    <tr><td colspan="4"><button class="btn btn-sm btn-primary" onclick="SaveAppartmentPlan()">Save</button><button class="ms-2 btn btn-sm btn-danger" onclick="CancelAppartmentPlan()">Cancel</button></td></tr>
                </tbody>
            </table>
        </div>

    </div>

    <div class="modal fade" role="dialog" id="dlgNewAppartmentRoom">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Room Plan</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="blue" id="dvRoomPlanText">Build Name , Floor ,Appartment Number, Room #</div>
                    <div class="border">
                        <table class="table table-sm w-100">
                            <tbody>
                                <tr>
                                    <td>Number of Beds:</td>
                                    <td><input type="number" class="form-control" id="txtNoOfBeds" onblur="CreateEmployeeBeds(this,'trBeds')" /></td>
                                </tr>
                                <tr><td id="trBeds" colspan="2"></td></tr>
                                <tr><td colspan="3" id="tdDuplicateBeds"></td></tr>
                                <tr><td colspan="3"><button class="btn btn-sm btn-primary" onclick="SaveEmployeeBeds()">Save</button></td></tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" role="dialog" id="dlgNewAppartment">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Appartment Plan</h5>
                    <button type="button" class="btn-close close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" role="dialog" id="dlgEmployeeAccomodation">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Employee Accomodation</h5>
                    <button type="button" class="btn-close close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="p-2 blue"><h5>Employee Accomodation</h5></div>
                    <table class="table table-sm border">
                        <tr>
                            <td> <strong>Build</strong></td>
                            <td id="tdEmpBuildingName"></td>
                        </tr>
                        <tr>
                            <td> <strong>Floor</strong></td>
                            <td id="tdEmpBuildingFloor"></td>
                        </tr>
                        <tr>
                            <td> <strong>Appartment</strong></td>
                            <td id="tdEmpBuildingAppartment"></td>
                        </tr>
                        <tr>
                            <td> <strong>Room</strong></td>
                            <td id="tdEmpBuildingRoom"></td>
                        </tr>
                        <tr>
                            <td> <strong>Bed</strong></td>
                            <td id="tdEmpBuildingRoomBed"></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <button class="btn btn-sm btn-primary" onclick="LeaveEmployeeRoom()">Leave Room</button>
                                <button class="btn btn-sm btn-primary" onclick="SwapEmployeeRoom()">Swap Room</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" role="dialog" id="dlgEmployeeAccomodationSwap">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Employee Accomodation Swap</h5>
                    <button type="button" class="btn-close close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="p-2 blue"><h5>Employee Accomodation Swap</h5></div>
                    <table class="table table-sm border">
                        <tr>
                            <td> <strong>2nd Employee</strong></td>
                            <td ><select  class="form-select form-select-sm" id="ddSwapEmployees"></select></td>
                        </tr>
                        
                        <tr>
                            <td colspan="2">
                                <button class="btn btn-sm btn-primary" onclick="SwapEmployeeRoomConfirm()">Swap Room</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .treegrid-indent {
        display: none !important;
    }
    /*span.treegrid-expander{display:none!important;}*/
</style>
@section Scripts{
    @Scripts.Render("~/bundles/treegrid")
    @Scripts.Render("~/lib/hr/accommodation")
    @Styles.Render("~/Content/treegrid")

}