
<div class="border p-2">
    <div class="row">
        <div class="col-md-5">
            <form id="frmAsset">
                <div class="mb-3 row">
                    <label for="ddAssetEmployeeCode" class="col-sm-2 col-form-label">Employee </label>
                    <div class="col">
                        <select class="js-example-basic-single js-states form-control" id="ddAssetEmployeeCode" name="EmployeeCode" data-placeholder="Type to search" data-allow-clear="true"></select>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="txtAssetName" class="col-sm-2 col-form-label">Name </label>
                    <div class="col">
                        <input type="text" class="form-control form-control-sm" id="txtAssetName" name="txtAssetName" />
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="txtIssueDate" class="col-sm-2 col-form-label">Issue Date</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control form-control-sm datepicker" id="txtAssetIssueDate" name="AssetIssueDate">
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="txtIssueDate" class="col-sm-2 col-form-label">Remarks</label>
                    <div class="col-12">
                        <textarea class="form-control form-control-sm" rows="5" cols="5" id="txtAssetRemarks"></textarea>
                    </div>
                </div>
                <div class="mb-3 writecontainer">
                    <input class="form-control" type="file" id="">
                    <label class="custom-file-upload btn btn-primary">
                        <input type="file" id="txtAssetImage" />
                        <i class="fa fa-cloud-upload"></i> Upload Asset File
                    </label>
                    <button class="btn btn-primary ms-5" type="submit" onclick="SaveAsset()">Save</button>
                    <button class="btn btn-danger" type="reset">Clear</button>
                </div>

            </form>

            <div class="border-top my-1">
                <img id="imgEmployeeAsset" class="img-fluid" />
            </div>
        </div>
        <div class="col-md-7 border-start">
            <div class="table-responsive">
                <table class="table table-sm table-striped table-hover-warning table-bordered">
                    <thead class="blue">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Issue Date</th>
                            <th>Remarks</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="tblAssetList"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    
    @Scripts.Render("~/lib/hr/asset")
    
}

