

<div class="m-auto">

    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-division-tab" data-bs-toggle="tab" data-bs-target="#nav-division" type="button" role="tab" aria-controls="nav-division" aria-selected="true">Division</button>
            <button class="nav-link" id="nav-positions-tab" data-bs-toggle="tab" data-bs-target="#nav-positions" type="button" role="tab" aria-controls="nav-positions" aria-selected="false">Positions</button>
            <button class="nav-link" id="nav-workschedule-tab" data-bs-toggle="tab" data-bs-target="#nav-workschedule" type="button" role="tab" aria-controls="nav-workschedule" aria-selected="false">Work Schedule</button>

        </div>

        <div class="tab-content border m2 p-3" id="nav-tabContent">
            <div class="tab-pane fade show active" id="nav-division" role="tabpanel" aria-labelledby="nav-division-tab">
                <div class="m-auto w-50">
                    <div class="border p-5 ">
                        <form>
                            <div class="mb-3 row">

                                <label for="txtDivisionName" class="col-sm-1 col-form-label me-2">Name</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control form-control-sm" id="txtDivisionName">
                                </div>
                                <div class="col-sm-5">
                                    <button type="button" class="btn  btn-success" onclick="SaveDivision()">Save</button>
                                    <button class="btn  btn-danger" type="reset">Clear</button>
                                </div>

                                <div class="mb-3 row">

                                    <label for="ddlSupervisorID" class="col-sm-1 col-form-label me-2">Supervisor:</label>
                                    <div class="col-sm-5">
                                        <select class="form-select form-select-sm" id="ddlSupervisorID"></select>
                                    </div>
                                </div>

                            </div>
                        </form>
                        <div class="mt-2">
                            <table class="table table-sm table-bordered table-hover-warning table-striped">
                                <thead class="blue">
                                    <tr><th></th><th>Name</th><th>Supervisor</th><th></th></tr>
                                </thead>
                                <tbody id="tblDivisionList"></tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
            <div class="tab-pane fade" id="nav-positions" role="tabpanel" aria-labelledby="nav-positions-tab">
                <div class="m-auto w-50">
                    <div class="border p-5 ">
                        <form>
                            <div class="mb-3 row">

                                <label for="txtPositionName" class="col-sm-1 col-form-label">Name</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control form-control-sm" id="txtPositionName">
                                </div>
                                <div class="col-sm-5">
                                    <button type="button" class="btn  btn-success" onclick="SavePosition()">Save</button>
                                    <button class="btn  btn-danger" type="reset">Clear</button>
                                </div>

                            </div>
                        </form>
                        <div class="mt-2">
                            <table class="table table-sm table-bordered table-hover-warning table-striped">
                                <thead class="blue">
                                    <tr><th></th><th>Name</th><th></th></tr>
                                </thead>
                                <tbody id="tblPositionList"></tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
            <div class="tab-pane fade" id="nav-departments" role="tabpanel" aria-labelledby="nav-departments-tab">
                <div class="m-auto w-50">
                    <div class="border p-5 ">
                        <form>
                            <div class="mb-3 row">

                                <label for="txtDepartmentName" class="col-sm-1 col-form-label">Name</label>
                                <div class="col-sm-5">
                                    <input type="text" class="form-control form-control-sm" id="txtDepartmentName">
                                </div>

                                <div class="col-sm-5">
                                    <button type="button" class="btn  btn-success" onclick="SaveDepartment()">Save</button>
                                    <button class="btn  btn-danger" type="reset">Clear</button>
                                </div>

                            </div>

                        </form>

                        <div class="mt-2">
                            <table class="table table-sm table-bordered table-hover-warning table-striped">
                                <thead class="blue">
                                    <tr><th></th><th>Name</th><th></th></tr>
                                </thead>
                                <tbody id="tblDepartmentList"></tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
            <div class="tab-pane fade" id="nav-workschedule" role="tabpanel" aria-labelledby="nav-workschedule-tab">
                <div class="m-auto w-50">
                    <div class="border p-5 ">
                        <table class="w-50 table">
                            <tr>
                                <td></td>
                                <td><strong>Hour</strong></td>
                                <td><strong>Minute</strong></td>
                            </tr>
                            <tr>
                                <td><strong>Start:</strong></td>
                                <td>
                                    <select id="ddScheduleHourStart" class="form-select form-select-sm"></select>
                                </td>
                                <td><select id="ddScheduleMinStart" class="form-select form-select-sm"></select></td>
                            </tr>
                            <tr>
                                <td><strong>End:</strong></td>
                                <td><select id="ddScheduleHourEnd" class="form-select form-select-sm"></select></td>
                                <td><select id="ddScheduleMinEnd" class="form-select form-select-sm"></select></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><strong>In</strong></td>
                                <td><strong>Out</strong></td>
                            </tr>
                            <tr>
                                <td><strong>Margin:</strong></td>
                                
                                <td><select id="ddScheduleMartingIn" class="form-select form-select-sm"></select></td>
                                
                                <td><select id="ddScheduleMarginOut" class="form-select form-select-sm"></select></td>
                            </tr>
                            
                            <tr>
                                <td colspan="3" align="center" class="p-3"><button class="btn btn-sm btn-primary" onclick="SaveWorkScheduleTime()">Save</button> <button class="ml-2 btn btn-sm btn-danger" onclick="CancelWorkScheduleTime()">Cancel</button></td>
                            </tr>
                        </table>
                        <div class="mt-2">
                            <table class="table table-sm table-bordered table-hover-warning table-striped">
                                <thead class="blue">
                                    <tr><th>ID</th><th>Hour Start</th><th>Minute Start</th><th>Hour End</th><th>Minute End</th><th>Margin In</th><th>Margin Out</th><th></th></tr>
                                </thead>
                                <tbody id="tblWorkScheduleList"></tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </nav>


</div>

@section Scripts{
    @Scripts.Render("~/bundles/sweetalert")
    @Scripts.Render("~/lib/hr/setting")

    @Styles.Render("~/bundles/sweetalertcss")
}