
<div class="border p-2">

    <div id="dvEditInquiry" class="writecontainer">
        <form id="frmInquiry">
            <div class="row">
                <div class="col">
                    <div class="border">
                        <div class="blue p-1"><h6>Employee Request</h6></div>
                        <div class="p-4">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label for="employeeName">Employee Name:</label>
                                        <select class="form-select" id="ddEmployeeName" name="EmployeeName"></select>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <label for="columnDate">Date:</label>
                                        <input type="text" class="form-control form-control-sm datepicker" id="txtInquiryDate" name="InquiryDate" required>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="form-group">
                                        <label for="columnDate">Prepared by:</label>
                                        <input type="text" class="form-control form-control-sm" id="txtInquiryPreparedBy" name="PreparedBy" readonly>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="remarks">Remarks:</label>
                                <textarea class="form-control form-control-sm" rows="10" id="txtInquiryRemarks" name="InquiryRemarks"></textarea>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="chkInquiryPersonal" name="InquiryPersonal">
                                <label class="form-check-label" for="chkInquiryPersonal">Personal</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="chkInquiryGeneral" name="InquiryGeneral">
                                <label class="form-check-label" for="chkInquiryGeneral">General</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="chkInquiryLoan" name="InquiryLoan">
                                <label class="form-check-label" for="chkInquiryLoan">Loan</label>
                            </div>
                            <div class="my-3">

                                <label class="custom-file-upload btn btn-primary">
                                    <input type="file" id="InquiryFile" />
                                    <i class="fa fa-cloud-upload"></i> Upload Scanned Sheet
                                </label>
                                <button class="btn btn-primary ms-5" type="submit" onclick="SaveEmployeeInquiry()">Save</button>
                                
                                <button class="btn btn-danger" type="reset">Clear</button>



                            </div>
                        </div>

                    </div>
                </div>
                <div class="col">
                    <table class="table table-sm table-striped table-hover-warning table-bordered table-responsive">
                        <thead class="blue">
                            <tr>
                                <th>ID</th>
                                <th>Department Name</th>
                                <th>Request Date</th>
                                <th>Remarks</th>
                                <th>Prepared by</th>
                                <th>Personal</th>
                                <th>General</th>
                                <th>Loan</th>

                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="tblEmployeeInQuiryList"></tbody>
                    </table>
                    <div id="dvEmployeeInquiryPaging"></div>
                </div>


            </div>
        </form>
    </div>
</div>
@section Scripts{
    @Scripts.Render("~/bundles/pagination")
    @Scripts.Render("~/lib/hr/employeeinquiry")
    @Styles.Render("~/bundles/paginationcss")
}