
<div class="border p-2">
    <div id="dvClearanceList">
        <div class="p-3 border my-2">
            <div class="row">

                <div class="form-group col-md-3 row">
                    <label class="col-md-2 col-form-label p-0"> Employee:</label>
                    <div class="col">
                        <select class="js-example-basic-single js-states form-control" id="ddEmployeeCode" name="EmployeeCode" data-placeholder="Type to search" data-allow-clear="true"></select>
                    </div>
                </div>
                <div class="form-group col-md-2">
                    <button class="btn btn-sm btn-primary" onclick="NewClearance()">Add Clearance </button>
                </div>
            </div>
        </div>
        <table class="table table-sm table-striped table-hover-warning table-bordered table-responsive">
            <thead class="blue">
                <tr>
                    <th>ID</th>
                    <th>EmployeeID</th>

                    <th>Contact</th>
                    <th>HandOver</th>
                    <th>Last Working Date</th>
                    <th>Clearance Date</th>
                    <th>Prepared By</th>
                    <th>Employee Name</th>
                    <th>Department Name</th>
                    <th>Position</th>
                    <th>Nationality</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="tblEmployeeClearanceList"></tbody>
        </table>
    </div>
    <div id="dvEditClearance">
        <form id="frmClearance">
            <div class="border">
                <div class="blue p-1 "><h6>Employee Leave Request</h6></div>
                <div class="p-4">
                    <div class="row">
                        <!-- Row 1 -->
                        <div class="col-md-3">
                            <!-- Employee Name (Dropdown) -->
                            <div class="form-group">
                                <label for="employeeName">Employee Name:</label>
                                <select class="form-control" id="employeeName" name="employeeName">
                                    <!-- Options for employee names -->
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <!-- From Date -->
                            <div class="form-group">
                                <label for="fromDate">From Date:</label>
                                <input type="text" class="form-control" id="fromDate" name="fromDate">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <!-- To Date -->
                            <div class="form-group">
                                <label for="toDate">To Date:</label>
                                <input type="text" class="form-control" id="toDate" name="toDate">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <!-- Hiring Date -->
                            <div class="form-group">
                                <label for="hiringDate">Hiring Date:</label>
                                <input type="text" class="form-control" id="hiringDate" name="hiringDate">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <!-- Column for 2 Label Fields -->
                            <div class="d-flex align-items-center">
                                <label class="me-3">Deserved Days:</label>
                                <label>16 days:</label>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <!-- Row 2 -->
                        <div class="col-md-6">
                            <!-- Column 1 -->
                            <div class="form-group">
                                <!-- Leave Type (Dropdownlist) -->
                                <label for="leaveType">Leave Type:</label>
                                <select class="form-control" id="leaveType" name="leaveType">
                                    <!-- Options for leave types -->
                                </select>
                            </div>
                            <!-- Rows for 3 Approval from dropdownlist -->
                            <div class="form-group">
                                <!-- Approval 1 -->
                                <label for="approval1">Approval 1:</label>
                                <select class="form-select" id="approval1" name="approval1">
                                    <!-- Options for approval 1 -->
                                </select>
                                <!-- Approval 2 -->
                                <label for="approval2">Approval 2:</label>
                                <select class="form-select" id="approval2" name="approval2">
                                    <!-- Options for approval 2 -->
                                </select>
                                <!-- Approval 3 -->
                                <label for="approval3">Approval 3:</label>
                                <select class="form-select" id="approval3" name="approval3">
                                    <!-- Options for approval 3 -->
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!-- History Table -->


                            <div class="bg-secondary-subtle p-2"><h6>History Table</h6></div>
                            <div class="border p-2">
                                <table class="table table-sm table-bordered table-striped">
                                    <thead class="blue">
                                        <tr>
                                            <th>Leave Type</th>
                                            <th>From Date</th>
                                            <th>To Date</th>
                                            <th>No of Days</th>
                                            <th>Leave Status</th>
                                            <th>Remarks</th>
                                        </tr>
                                    </thead>
                                    <tbody id="historyTableBody">
                                        <!-- History Table Data Goes Here -->
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>


                    <div class="my-3">

                        <button class="btn btn-primary ms-5" type="submit" onclick="SaveEmployeeClearance()">Save</button>
                        <button class="btn btn-danger" type="reset" onclick="CancelNewClearance()">Clear</button>


                    </div>
                </div>





            </div>
        </form>
    </div>
</div>
@section Scripts{
    @Scripts.Render("~/lib/hr/employeeleaverequest")
}