
<div class="border p-2">


    <form id="frmLeave">
        <div class="border">
            <div class="blue p-1"><h6>Employee Leave Requests</h6></div>
            <div class="p-4">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="EmployeeName">Employee Name:</label>
                                    <select class="form-select" id="ddEmployeeName" name="EmployeeName"></select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="fromDate">Start Date:</label>
                                    <input type="text" class="form-control datepicker" id="txtRecordStartDate" name="RecordStartDate">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="toDate">Work Resume Date:</label>
                                    <input type="text" class="form-control datepicker" id="txtRecordEndDate" name="RecordEndDate">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="ddlLeaveTypes">Leave:</label>
                                    <select class="form-select" id="ddlLeaveTypes" name="LeaveTypes"></select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="PriorityLevel">Priority Level:</label>
                                    <select class="form-select" id="ddlPriorityLevel" name="PriorityLevel"></select>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <table class="table-bordered border w-75 text-center"><tbody id="tblLeaveStats"></tbody></table>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="txtRemarks">Remarks:</label>
                                    <textarea class="form-control" id="txtRemarks" name="Remarks" rows="10"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div style="max-height:450px;overflow:auto">
                            
                            
                                <table class="table-striped table table-sm table-bordered">
                                    <thead class="blue">
                                        <tr>
                                            <th>Leave Type</th>
                                            <th>Leave Date</th>
                                            <th>Work Resume Date</th>
                                            <th>Remarks</th>
                                            <th>Staus</th>
                                        </tr>
                                    </thead>
                                    <tbody id="tblEmployeeLeaves"></tbody>
                                </table>
                            
                        </div>

                    </div>
                </div>


                <div class="my-3">
                    <label class="custom-file-upload btn btn-primary">
                        <input type="file" id="LeaveFileID" />
                        <i class="fa fa-cloud-upload"></i> Browse Sheet
                    </label>
                    <button class="btn btn-primary ms-5" type="submit" onclick="SaveEmployeeLeave()">Save</button>
                    <button class="btn btn-danger" type="reset">Clear</button>


                </div>
            </div>

        </div>
    </form>

</div>
@section Scripts{
    @Scripts.Render("~/lib/hr/employeeleaverequest")
}