
<div class="border p-2">
    <div id="dvVacationList">

        <div class="p-3 border my-2">
            <div class="row">

                <div class="form-group col-md-3 row ms-1 mb-0">
                    <label class="col-md-2 col-form-label p-0"> Employee:</label>
                    <div class="col">
                        <select class="form-select" id="ddEmployeeCode" name="EmployeeCode" data-placeholder="Type to search" data-allow-clear="true"></select>
                    </div>
                </div>

                <div class="form-group col-md-3 row ms-1 mb-0">
                    <label class="col-md-3 col-form-label p-0"> Date Range:</label>
                    <div class="col position-relative">
                        <input type="text" name="ddlDataRange" id="ddlDataRange" class="form-control form-control-sm daterangepicker" autocomplete="off">
                    </div>
                </div>
                <div class=" col-md-auto text-left  mb-0">
                    <div class="row my-2">
                        <div class="col-auto">Summary only</div>
                        <div class="col">
                            <label class="switch"><input type="checkbox" id="ChkVacationSummaryOnly"><div class="slider round"></div></label>
                        </div>
                    </div>
                </div>
                <div class=" col-md-auto text-left">
                    <div class="row my-2">

                        <div class="col-auto">Emergenecy</div>
                        <div class="col">
                            <label class="switch"><input type="checkbox" checked="checked" id="chkEmergencyOnly"><div class="slider round"></div></label>
                        </div>
                    </div>



                </div>


                <div class="form-group col-md-2">
                    <button class="btn btn-sm btn-primary" onclick="BindVacation()">Search </button>

                    <button class="btn btn-sm btn-success writecontainer" onclick="NewVacation()">Add Vacation </button>
                </div>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-sm table-striped table-hover-warning table-bordered table-responsive">
                <thead class="blue">
                    <tr>
                        <th>ID</th>
                        <th>Employee</th>
                        <th>Pay</th>
                        <th>Without Pay</th>
                        <th>Approved</th>
                        <th>Destination</th>
                        <th>Depart Date</th>
                        <th>Return Date</th>
                        <th>Reason</th>
                        <th>Leave Schedule</th>
                        <th>Dues</th>
                        <th>Duration</th>>

                        <th>Vacations</th>
                        <th>Record Date</th>
                        <th>Prepared By</th>
                        <th>Find Depart Date</th>
                        <th>Last Working Date</th>
                        <th>Handover</th>
                        <th>Contact</th>
                        <th>Remarks</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="tblEmployeeVacationList"></tbody>
            </table>
        </div>
    </div>
    <div id="dvEditVacation">
        <form id="frmVacation" name="frmVacation">
            <div class="border">
                <div class="blue p-1"><h>Employee Vacation</h></div>
                <div class="p-4">
                    <div class="row g-3 align-items-center">
                        <div class="col-md-auto col-12">
                            <label class="col-form-label">Employee Name:</label>
                        </div>
                        <div class="col-md-3 col-12">
                            <select class="form-select-sm form-select w-100" id="ddEmployeeName" name="ddEmployeeName" data-placeholder="Type to search" data-allow-clear="true"></select>
                        </div>
                        <div class="col-md-auto col-12">Division</div>
                        <div class="col-md-2 col-12"> <select class="form-select form-select-sm" disabled id="ddEmployeeDivision" name="ddEmployeeDivision"></select></div>
                        <div class="col-md-auto col-12">Position</div>
                        <div class="col-md-2 col-12"> <select class="form-select form-select-sm" disabled id="ddEmployeePosition" name="ddEmployeePosition"></select></div>
                        <div class="col-md-auto col-12">Nationlity</div>
                        <div class="col-md-2 col-12"> <select class="form-select form-select-sm" disabled id="ddEmployeeNationality" name="ddEmployeeNationality"></select></div>
                        <div class="col-12"></div>
                        <div class="col-md-auto col-12">Date</div>
                        <div class="col-md-2 col-12"><input type="text" class="form-control form-control-sm datepicker" id="txtRecordDate" name="txtRecordDate" required data-msg="Enter date" /></div>
                        <div class="col-md-auto col-12">Prepared By</div>
                        <div class="col-md-2 col-12"><input type="text" class="form-control form-control-sm" id="txtPreparedBy" /></div>
                    </div>

                    <div class="border mt-2">
                        <div class="bg-secondary-subtle p-2"><h5>Vacation Detail</h5></div>
                        <div class="ps-3 my-2">
                            <div class="row">
                                <div class="col-md-3 col-12">
                                    <div class="form-group">
                                        <label for="withPay">With Pay:</label>
                                        <input type="text" class="form-control form-control-sm" id="txtwithPay" name="withPay">
                                    </div>
                                    <div class="form-group">
                                        <label for="withoutPay">With Out Pay:</label>
                                        <input type="text" class="form-control form-control-sm" id="txtwithoutPay" name="withoutPay">
                                    </div>
                                    <div class="form-group">
                                        <label for="reason">Reason:</label>
                                        <textarea class="form-control form-control-sm" id="txtreason" name="reason"></textarea>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-4 col-md-6">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="Chkemergency" name="emergency">
                                                <label class="form-check-label" for="emergency">Emergencey ?</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-md-6">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="ChkvacationDue" name="vacationDue">
                                                <label class="form-check-label" for="vacationDue">Vacation Due</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-md-6">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chktravelOrder" name="travelOrder">
                                                <label class="form-check-label" for="travelOrder">Travel Order</label>
                                            </div>
                                        </div>

                                        <div class="col-sm-4 col-md-6">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chkticket" name="ticket">
                                                <label class="form-check-label" for="ticket">Ticket</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-md-6">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chkiqamaRenewal" name="iqamaRenewal">
                                                <label class="form-check-label" for="iqamaRenewal">Iqama renewal</label>
                                            </div>
                                        </div>
                                        <div class="col-sm-4 col-md-6">
                                            <div class="form-check form-check-inline">
                                                <input class="form-check-input" type="checkbox" id="chkentryExitVisa" name="entryExitVisa">
                                                <label class="form-check-label" for="entryExitVisa">Entry Exit Visa</label>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="form-group">
                                            <label for="remarks">Remarks:</label>
                                            <textarea class="form-control form-control-sm" id="txtremarks" name="remarks" required data-msg="Enter remarks"></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-5 col-12">
                                    <div class="form-group">
                                        <label for="txtApproved">Approved:</label>
                                        <input type="text" class="form-control form-control-sm" id="txtApproved" name="approved">
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <label for="txtDestination">Destination:</label>
                                                <input type="text" class="form-control form-control-sm" id="txtDestination" name="destination" required data-msg="Enter date">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <label for="txtIqama">Iqama:</label>
                                                <input type="text" class="form-control form-control-sm " readonly id="txtIqama" name="iqama">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <label for="txtDepartDate">Depart Date:</label>
                                                <input type="text" class="form-control form-control-sm datepicker" id="txtDepartDate" name="departDate" required data-msg="Enter date">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <label for="txtReturnDate">Return Date:</label>
                                                <input type="text" class="form-control form-control-sm datepicker" id="txtReturnDate" name="returnDate" required data-msg="Enter date">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <label for="txtLastJoinDate">Last Join Date:</label>
                                                <input type="text" class="form-control form-control-sm datepicker" id="txtLastJoinDate" name="lastJoinDate" required data-msg="Enter date">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <label for="txtLeaveSchedule">Leave Schedule:</label>
                                                <input type="text" class="form-control form-control-sm" id="txtLeaveSchedule" name="leaveSchedule">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <label for="txtDues">Dues:</label>
                                                <input type="text" class="form-control form-control-sm" id="txtDues" name="dues">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <label for="txtExitEntryDuration">Exit/Entry Duration:</label>
                                                <input type="text" class="form-control form-control-sm" id="txtExitEntryDuration" name="exitEntryDuration" required data-msg="Enter date">
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <label for="txtMonthsEarly">Months Early:</label>
                                                <input type="number" class="form-control form-control-sm" id="txtMonthsEarly" name="monthsEarly">
                                            </div>
                                        </div>
                                    </div>

                                    <div class="border mt-2">
                                        <div class="bg-secondary-subtle p-2"><h5>Assets</h5></div>
                                        <div class="ps-3 my-2">
                                            <table class="table table-sm table-bordered table-striped">
                                                <tbody id="tblVacationAssets"></tbody>
                                            </table>
                                        </div>
                                    </div>

                                    <div class="border mt-2">
                                        <div class="bg-secondary-subtle p-2"><h5>Clearance Detail</h5></div>
                                        <div class="p-2 row">
                                            <div class="col-12 col-md-6">
                                                <div class="form-group">
                                                    <label for="txtContact">Contact:</label>
                                                    <input type="text" class="form-control form-control-sm" id="txtContact" name="contact">
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6">
                                                <div class="form-group">
                                                    <label for="txtHandover">Handover:</label>
                                                    <input type="text" class="form-control form-control-sm" id="txtHandover" name="handover" required data-msg="Enter date">
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6">
                                                <div class="form-group">
                                                    <label for="txtLastWorkingDate">Last Working Date:</label>
                                                    <input type="text" class="form-control form-control-sm" id="txtLastWorkingDate" name="lastWorkingDate" required data-msg="Enter date">
                                                </div>
                                            </div>
                                            <div class="col-12 col-md-6">
                                                <div class="form-group">
                                                    <label for="txtFindDepartDate">Find Depart Date:</label>
                                                    <input type="text" class="form-control form-control-sm" id="txtFinalDepartDate" name="FinalDepartDate" required data-msg="Enter date">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4 col-12">
                                    <div class="form-group">
                                        <label for="ddApproval1">Approval From:</label>
                                        <select class="supervisor form-select" id="ddApproval1" name="ddApproval1" data-placeholder="Type to search" data-allow-clear="true"></select>
                                    </div>

                                    <div class="form-group">
                                        <label for="ddApproval2">Approval From:</label>
                                        <select class="supervisor form-select" id="ddApproval2" name="ddApproval2" data-placeholder="Type to search" data-allow-clear="true"></select>
                                    </div>

                                    <div class="form-group">
                                        <label for="ddApproval3">Approval From:</label>
                                        <select class="supervisor form-select" id="ddApproval3" name="ddApproval3" data-placeholder="Type to search" data-allow-clear="true"></select>
                                    </div>

                                    <div class="form-group">
                                        <label for="ddApproval4">Approval From:</label>
                                        <select class="supervisor form-select" id="ddApproval4" name="ddApproval4" data-placeholder="Type to search" data-allow-clear="true"></select>
                                    </div>

                                    <div class="form-group">
                                        <label for="ddApproval5">Approval From:</label>
                                        <select class="supervisor form-select" id="ddApproval5" name="ddApproval5" data-placeholder="Type to search" data-allow-clear="true"></select>
                                    </div>

                                    <div class="form-group">
                                        <label for="ddApproval6">Approval From:</label>
                                        <select class="supervisor form-select" id="ddApproval6" name="ddApproval6" data-placeholder="Type to search" data-allow-clear="true"></select>
                                    </div>

                                    <div class="form-group">
                                        <label for="ddApproval7">Approval From:</label>
                                        <select class="supervisor form-select" id="ddApproval7" name="ddApproval7" data-placeholder="Type to search" data-allow-clear="true"></select>
                                    </div>

                                    <div class="form-group">
                                        <label for="ddApproval8">Approval From:</label>
                                        <select class="supervisor form-select" id="ddApproval8" name="ddApproval8" data-placeholder="Type to search" data-allow-clear="true"></select>
                                    </div>

                                    <div class="form-group">
                                        <label for="ddApproval9">Approval From:</label>
                                        <select class="supervisor form-select" id="ddApproval9" name="ddApproval9" data-placeholder="Type to search" data-allow-clear="true"></select>
                                    </div>

                                    <div class="form-group">
                                        <label for="ddApproval10">Approval From:</label>
                                        <select class="supervisor form-select" id="ddApproval10" name="ddApproval10" data-placeholder="Type to search" data-allow-clear="true"></select>
                                    </div>

                                    <div class="form-group">
                                        <label for="ddApproval11">Approval From:</label>
                                        <select class="supervisor form-select" id="ddApproval11" name="ddApproval11" data-placeholder="Type to search" data-allow-clear="true"></select>
                                    </div>
                                </div>

                            </div>



                        </div>
                    </div>

                    <div class="my-3">

                        <button class="btn btn-primary ms-5" type="submit" onclick="SaveEmployeeVacation();">Save</button>
                        <button class="btn btn-danger" type="reset" onclick="CancelNewVacation()">Clear</button>


                    </div>
                </div>





            </div>
        </form>
    </div>
</div>
@section Scripts{
    @Scripts.Render("~/lib/hr/employeevacation")
}