
<div class="border p-2">
    <div class="row">
        <div class="col-md-5">
            <form id="frmCertificate">
                <div class="mb-3 row">
                    <label for="ddCertificateEmployeeCode" class="col-sm-2 col-form-label">Employee </label>
                    <div class="col">
                        <select class="js-example-basic-single js-states form-control" id="ddCertificateEmployeeCode" name="EmployeeCode" data-placeholder="Type to search" data-allow-clear="true"></select>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="txtCertificateName" class="col-sm-2 col-form-label">Name </label>
                    <div class="col">
                        <select class="form-select form-select-sm" id="ddCertificateName" name="CertificateName" ></select>
                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="txtIssueDate" class="col-sm-2 col-form-label">Issue Date</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control form-control-sm datepicker" id="txtCertificateIssueDate" name="CertificateIssueDate">
                    </div>
                    <label for="txtExpDate" class="col-sm-2 col-form-label">Expiry Date</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control form-control-sm datepicker" id="txtCertificateExpiryDate">

                    </div>
                </div>
                <div class="mb-3 row">
                    <label for="txtIssueDate" class="col-sm-2 col-form-label">Remarks</label>
                    <div class="col-12">
                        <textarea class="form-control form-control-sm" rows="5" cols="5" id="txtCertificateRemarks"></textarea>
                    </div>
                </div>
                <div class="mb-3">
                    <label class="switch"><input type="checkbox" id="chkCertificateOnshore" onclick="ToggleOffShore(this)"><div class="slider round"></div></label>Onshore <label class="switch"><input type="checkbox" onclick="ToggleOnShore(this)" id="chkCertificateOffshore"><div class="slider round"></div></label>OffShore

                    <label class="custom-file-upload btn btn-primary">
                        <input type="file" id="txtCertificateImage" />
                        <i class="fa fa-cloud-upload"></i> Upload Certificate File
                    </label>
                    <button class="btn btn-primary ms-5" type="submit" onclick="SaveCertificate()">Save</button>
                    <button class="btn btn-danger" type="reset">Clear</button>


                </div>
                <div class="border-top">
                    <img id="imgEmployeeCetficate" />
                </div>

            </form>
        </div>
        <div class="col-md-7 border-start">
            <div class="table-responsive">
                <table class="table table-sm table-striped table-hover-warning table-bordered">
                    <thead class="blue">
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Issue Date</th>
                            <th>Expiry Date</th>
                            <th>Remarks</th>
                            <th>Onshore</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="tblCertificateList"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    @Scripts.Render("~/lib/hr/certificate")
}