<div class="border">
    <div class="blue">
        <h4>Home</h4>
    </div>
    <div class="p-3">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="border">
                        <div class="blue">
                            <h6>Employee Management</h6>
                        </div>
                        <div class="p-2">
                            <table class="w-100 table table-borderless table-striped">
                                <tbody>
                                    <tr>
                                        <td width="5%"><i class="fa fa-database text-info"></i></td>
                                        <td><a href="/Employee/index" class="link-primary text-decoration-none">Employee List</a></td>
                                    </tr>
                                    <tr>
                                        <td><i class="fa fa-certificate text-info"></i></td>
                                        <td><a href="/Employee/certificate" class="link-primary text-decoration-none">Certificate</a></td>
                                    </tr>
                                    <tr>
                                        <td><i class="fa fa-money text-info"></i></td>
                                        <td><a href="/Employee/asset" class="link-primary text-decoration-none">Assets</a></td>
                                    </tr>
                                    <tr>
                                        <td><i class="fa fa-female text-info"></i></td>
                                        <td><a href="/Employee/family" class="link-primary text-decoration-none">Family</a></td>
                                    </tr>
                                    <tr>
                                        <td><i class="fa fa-id-badge text-info"></i></td>
                                        <td><a href="/Employee/id" class="link-primary text-decoration-none">ID's</a></td>
                                    </tr>
                                    <tr>
                                        <td><i class="fa fa-id-card text-info"></i></td>
                                        <td><a href="/Employee/familyid" class="link-primary text-decoration-none">Family ID's</a></td>
                                    </tr>
                                    <tr>
                                        <td><i class="fa fa-file text-danger"></i></td>
                                        <td><a href="/Employee/contract" class="link-primary text-decoration-none">Contract</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="border">
                        <div class="blue">
                            <h6>Employee Activity</h6>
                        </div>
                        <div class="p-2">
                            <table class="w-100 table table-borderless table-striped">
                                <tbody>
                                    <tr>
                                        <td width="5%"><i class="fa fa-warning text-danger"></i></td>
                                        <td><a href="/Employee/warning" class="link-primary text-decoration-none">Warning notice</a></td>
                                    </tr>
                                    <tr>
                                        <td><i class="fa fa-empire text-info"></i></td>
                                        <td><a href="/Employee/vacation" class="link-primary text-decoration-none">Vacation</a></td>
                                    </tr>
                                    <tr>
                                        <td><i class="fa fa-calendar text-danger" ></i></td>
                                        <td><a href="/Employee/joining" class="link-primary text-decoration-none">Joining</a></td>
                                    </tr>
                                    <tr>
                                        <td><i class="fa fa-user-md  text-success" ></i></td>
                                        <td><a href="/Employee/visitor" class="link-primary text-decoration-none">Company Visitor</a></td>
                                    </tr>
                                    <tr>
                                        <td><i class="fa fa-id-badge  text-danger"></i></td>
                                        <td><a href="/Employee/travel" class="link-primary text-decoration-none">Company Travel Order</a></td>
                                    </tr>
                                    <tr>
                                        <td><i class="fa fa-file  text-danger"></i></td>
                                        <td><a href="/Employee/leaverequest" class="link-primary text-decoration-none">Leaves</a></td>
                                    </tr>
                                    <tr>
                                        <td><i class="fa fa-file text-danger"></i></td>
                                        <td><a href="#" class="link-primary text-decoration-none">Leave Status</a></td>
                                    </tr>
                                    <tr>
                                        <td><i class="fa fa-file text-danger"></i></td>
                                        <td><a href="/Employee/shortleave" class="link-primary text-decoration-none">Short Leave</a></td>
                                    </tr>
                                    <tr>
                                        <td><i class="fa fa-file text-danger"></i></td>
                                        <td><a href="/Employee/travelrequest" class="link-primary text-decoration-none">Travel Request</a></td>
                                    </tr>
                                    <tr>
                                        <td><i class="fa fa-file text-danger"></i></td>
                                        <td><a href="/Employee/Inquiry" class="link-primary text-decoration-none">Inquiry Form</a></td>
                                    </tr>

                                    <tr>
                                        <td><i class="fa fa-file text-danger"></i></td>
                                        <td><a href="/Employee/passport" class="link-primary text-decoration-none">Passport Request</a></td>
                                    </tr>
                                    <tr>
                                        <td><i class="fa fa-file text-danger"></i></td>
                                        <td><a href="/Employee/contract" class="link-primary text-decoration-none">Ticket Booking</a></td>
                                    </tr>
                                    <tr>
                                        <td><i class="fa fa-file text-danger"></i></td>
                                        <td><a href="/Employee/formhanover" class="link-primary text-decoration-none">Passport and Iqama Handover</a></td>
                                    </tr>
                                    <tr>
                                        <td><i class="fa fa-file text-danger"></i></td>
                                        <td><a href="/Employee/tempemployee" class="link-primary text-decoration-none">Temporary Employee</a></td>
                                    </tr>
                                    <tr>
                                        <td><i class="fa fa-file text-danger"></i></td>
                                        <td><a href="#" class="link-primary text-decoration-none">Manual Attendence</a></td>
                                    </tr>
                                    <tr>
                                        <td><i class="fa fa-file text-danger"></i></td>
                                        <td><a href="/Employee/evaluation" class="link-primary text-decoration-none">Pre-Employment verfication</a></td>
                                    </tr>
                                    <tr>
                                        <td><i class="fa fa-file text-danger"></i></td>
                                        <td><a href="#" class="link-primary text-decoration-none">Employee Schedule</a></td>
                                    </tr>
                                    <tr>
                                        <td><i class="fa fa-file text-danger"></i></td>
                                        <td><a href="#" class="link-primary text-decoration-none">Schedule Timing</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="border">
                        <div class="blue">
                            <h6>Settings</h6>
                        </div>
                        <div class="p-2">
                            <table class="w-100 table table-borderless table-striped">
                                <tbody>
                                    <tr>
                                        <td width="5%"><i class="fa fa-database  text-info"></i></td>
                                        <td><a href="/Setting/index" class="link-primary text-decoration-none">Divisions</a></td>
                                    </tr>
                                    <tr>
                                        <td><i class="fa fa-database text-info"></i></td>
                                        <td><a href="/Setting/index" class="link-primary text-decoration-none">Positions</a></td>
                                    </tr>
                                    <tr>
                                        <td><i class="fa fa-database text-info"></i></td>
                                        <td><a href="/Setting/index" class="link-primary text-decoration-none">Sponsor Companies</a></td>
                                    </tr>
                                    <tr>
                                        <td><i class="fa fa-user text-info"></i></td>
                                        <td><a href="/Setting/index" class="link-primary text-decoration-none">Users</a></td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function _Int() {
        $("#spinner").hide();
    }
</script>