@{
    ViewBag.Title = "Submit Quote";
    Layout = "~/Views/Shared/_GenericLayout.cshtml";

}
<div class="border rounded">
    <div class="bg-danger p-3 text-white">Sorry! you have no rights to access</div>
</div>
@section Scripts{
    <script type="text/javascript">
        $(function () {
            $("#spinner").hide();
        });
    </script>
    }